<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans" xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security-4.0.xsd
						http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util.xsd
                        ">

    <!--<context:component-scan base-package="personal.arc.mvc" />-->
    <context:annotation-config/>
    <bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration"/>

    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg name="sentinelConfig" ref="redisSentinelConfiguration"></constructor-arg>
        <constructor-arg name="poolConfig" ref="redisPoolConfig"></constructor-arg>
        <property name="password" value="mypass1" />
        <property name="database" value="0" />
    </bean>

    <bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="300" />
        <property name="maxTotal" value="300" />
        <property name="maxWaitMillis" value="200" />
        <property name="testOnBorrow" value="true" />
    </bean>

    <bean id="redisSentinelConfiguration" lazy-init="true" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
        <constructor-arg ref="mapPropertySource"></constructor-arg>
    </bean>
    <bean id="mapPropertySource" class="org.springframework.core.env.MapPropertySource">
        <constructor-arg name="name" value="RedisSentinelConfiguration"></constructor-arg>
        <constructor-arg name="source">
            <map>
                <!-- mymaster -->
                <entry key="spring.redis.sentinel.master" value="mymaster"></entry>
                <!-- 10.18.19.67:5000,10.18.19.51:5000,10.18.19.101:5000 -->
                <entry key="spring.redis.sentinel.nodes" value="10.18.19.67:5000,10.18.19.51:5000,10.18.19.101:5000"></entry>
            </map>
        </constructor-arg>
    </bean>

    <context:property-placeholder ignore-unresolvable="true" system-properties-mode="OVERRIDE" />
    <bean id="springSessionRepositoryWrapperFilter" class="personal.arc.mvc.jwt.filter.SpringSessionRepositoryWrapperFilter" />

</beans>
